/* Colors */
$color-black: #000;
$color-white: #fff;
$color-orange: #fc4d37;
$color-light-gray: #cfcfcf;
$color-gray: #828282;
$color-dark-gray: #424242;
$color-dark-blue: #04242e;
$color-very-dark-blue: #02161f;
