.normal {
  background-color: #c6c6a7;
}

.fire {
  background-color: #f5ac78;
}

.fighting {
  background-color: #d67873;
}

.water {
  background-color: #77befe;
}

.flying {
  background-color: #a890f0;
}

.grass {
  background-color: #a7db8d;
}

.poison {
  background-color: #c183c1;
}

.electric {
  background-color: #fae078;
}

.ground {
  background-color: #ebd69d;
}

.psychic {
  background-color: #f85888;
}

.rock {
  background-color: #b8a038;
}

.ice {
  background-color: #98d8d8;
}

.bug {
  background-color: #c6d16e;
}

.dragon {
  background-color: #7038f8;
}

.ghost {
  background-color: #705898;
}

.dark {
  background-color: #705848;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #f4bdc9;
}
