<div class="pokemon-list">
  @for (pokemon of pokemonDetails; track pokemon; let i = $index) {
  <div class="pokemon-card" [ngClass]="pokemon.types[0].type.name" onclick="">
    <div class="pokemon-card-name">{{ pokemon.name }}</div>
    <div class="pokemon-card-content">
      <div class="pokemon-card-type">
        @for (type of pokemon.types; track type; let i = $index) {
        <span>{{ type.type.name }}</span>
        }
      </div>
      <img src="{{ pokemon.sprites.other.dream_world.front_default }}" alt="" />
    </div>
    <span class="pokemon-id"></span>
  </div>
  }
</div>
