@for (pokemon of pokemonDetails; track $index) {
<div class="stats">
  <nav>
    <p
      (click)="loadStats('about')"
      [ngClass]="{ active: openStats === 'about' }"
    >
      About
    </p>
    <p
      (click)="loadStats('base-stats')"
      [ngClass]="{ active: openStats === 'base-stats' }"
    >
      Base Stats
    </p>
    <p
      (click)="loadStats('abilities')"
      [ngClass]="{ active: openStats === 'abilities' }"
    >
      Abilities
    </p>
  </nav>

  <!-- About -->
  @if (openStats == 'about') {
  <div class="about">
    <div class="about-content">
      <div class="about-name">Height</div>
      <div class="about-value">{{ pokemon.height / 10 }} m</div>
    </div>
    <div class="about-content">
      <div class="about-name">Weight</div>
      <div class="about-value">{{ pokemon.weight / 100 }} kg</div>
    </div>
    <div class="about-content">
      <div class="about-name">Base Exp.</div>
      <div class="about-value">{{ pokemon.base_experience }} exp</div>
    </div>
  </div>
  }

  <!-- Base Stats -->
  @if (openStats == 'base-stats') {
  <div class="basestats">
    @for (basestat of pokemon.stats; track basestat; let i = $index) {
    <div class="basestats-content">
      <div class="basestats-name">{{ basestat.stat.name }}</div>
      <div class="basestats-value">{{ basestat.base_stat }}</div>
      <div class="basestats-bar">
        <span
          class="stat-bar"
          [style.width]="basestat.base_stat + '%'"
          [style.backgroundColor]="
            basestat.base_stat < 70 ? '#FC8383' : '#56c583'
          "
        ></span>
      </div>
    </div>
    }
  </div>
  }

  <!-- Abilities -->
  @if (openStats == 'abilities') {
  <div class="abilities">
    @for (ability of pokemon.abilities; track ability; let i = $index) {
    <div class="abilities-content">
      <div class="abilities-name">
        {{ ability.ability.name }}
      </div>
      <div class="abilities-description">
        {{
          getAbilityEffect(searchAbilityId(+getIdFromUrl(ability.ability.url)))
        }}
      </div>
    </div>
    }
  </div>
  }
</div>
}
