<div class="overlay" (click)="closePokemonCard()">
  @for (pokemon of pokemonDetails; track pokemon; let i = $index) {
  <div class="card" (click)="stopPropagation($event)">
    <div class="content" [ngClass]="pokemon.types[0].type.name">
      <div class="nav"></div>
      <div class="header">
        <div>
          <h2 class="name"></h2>
          <div class="type"></div>
        </div>
        <div>
          <span class="id"></span>
        </div>
      </div>
      <div class="img"><img src="" alt="" /></div>
    </div>
    <div class="details"></div>
  </div>
  }
</div>
