<div class="overlay" (click)="closePokemonCard()">
  @for (pokemon of pokemonDetails; track pokemon; let i = $index) {
  <div class="card" (click)="stopPropagation($event)">
    <!-- Content -->
    <div class="content" [ngClass]="pokemon.types[0].type.name">
      <div class="header">
        <div class="name">{{ pokemon.name }}</div>
        <img
          class="close-button"
          src="./../../../img/close.svg"
          alt="close"
          (click)="closePokemonCard()"
        />
        <div class="type">
          @for (type of pokemon.types; track type; let i = $index) {
          <span>{{ type.type.name }}</span>
          }
          <p class="id">#{{ pokemon.id }}</p>
        </div>
      </div>
      <div class="img">
        <img
          src="{{ pokemon.sprites.other.dream_world.front_default }}"
          alt="{{ pokemon.name }}"
        />
      </div>
    </div>

    <!-- Stats -->
    <app-pokemon-stats [pokemonName]="pokemon.name"></app-pokemon-stats>
  </div>
  }
</div>
